<div class="home-layer">
  <div class="banner">
    <h1>Where to, boss?</h1>
    <div class="banner-form">
      <%= render "search", time: @time, newtime: @newtime %>
    </div>
  </div>
  <div class="home map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
<div class="home-layer-b">
  <div class="tagline">
    <div id="home">
      <div><h1>WhereWorks</h1></div>
      <div><h2>When you're actually more productive away from the office</h2></div>
    </div>
  </div>
  <%= render "footer" %>
</div>
