<div class="container">
  <h1>All Listings</h1>
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="card m-2 col-3">
      <div class="card-body">
        <h5 class="card-title"><%= listing.name %></h5>
        <p class="card-text"><%= listing.zone %></p>
        <p class="card-text"><%= listing.booking_type %></p>
        <p class="card-text">Availability</p>
        <p class="card-text"><%= listing.price %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
