<%= turbo_frame_tag "remote_modal" do %>

    <div class="modal fade"
    data-controller="remote-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="newItemRemoteModalLabel"><%= title %></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    data-remote-modal-target="modal"
                    data-action="click->remote-modal#close"></button>
                </div>
                <div class="modal-body remote_modal_body" id="remote_modal_body">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
<% end %>
