.alert {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  color: white;
  background-color: rgba(44, 81, 115, 0.6);
  transition: opacity 1s ease-out;
  &:hover {
    opacity: 0;
  }
}
