.navbar-btn {
  color: white;
  background-color: #B56576;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  font-size: 12px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  &:hover{
    background-color: transparent;
    color: #B56576;
    transition: 0.5s;
  }
}

.btn-banner {
  width: 100px;
  height: 45px;
  background-color: #B56576;
  border: solid 2px #B56576;
  border-radius: 5px;
  color: white;
  &:hover{
    background-color: transparent;
    color: #B56576;
    transition: 0.5s;
  }
}
