.booking-form {
  width: 370px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 24px;

  input, select {
    border-radius: 5px;
  }

  .date {
    background: none;
    input {
      padding-right: 8px;
    }
  }

  .booking_quantity {
    input {
      margin: 0 4px;
      width: 312px !important;
    }
  }
}

.btn-wrap {
  .listing{
    display: flex;
    .btn-filter {
      border: none;
      border-radius: 5px;
      justify-content: space-between;
      background-color: white;
      padding: 10px 20px;
      font-weight: bold;
    }
  }
}
