// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "banner";
@import "footer";
@import "listings";
@import "listform";
@import "search";
@import "profile";
@import "bookingcard";
@import "form";
@import "listingshow";
@import "map";
@import "modal";
@import "bookingshow";


h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  margin: 0;
}
