// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "banner";
@import "footer";
@import "listform";

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  margin: 0;
}
