
.container {
  width: 95%;
  margin: 100px auto;
  padding: 0;
}

.listing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  .listing-card {
    background-color: white;
    .img-placeholder {
      max-width: 100%;
      height: 280px;
      background-color: #D9D9D9;
    }
    .content-wrap {
      margin: 20px 10px;
      p {
        margin: 0;
        font-size: 12px;
      }
      .listing-name {
        font-weight: bold;
      }
      .bottom-row {
        display: flex;
        justify-content: space-between;
        .listing-price {
          font-weight: bold;
        }
      }
    }
  }
}
