.container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.content-section-wrap {
  width: 50%;
  height: auto;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  .content-wrap {
    p {
      margin: 10px 0;
    }
    .listing-desc {
      margin-bottom: 30px;
    }
    .listing-address {
      font-style: italic;
    }
  }
  .img-wrap {
    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }
}

.booking-form {
  width: calc(50% - 20px);
  height: 75vh;
  margin-left: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 30px;
  h2 {
    margin-bottom: 20px;
  }
}

.input-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  .input {
    width: calc(33.33% - 10px);
    .quantity {
      max-width: calc(100% - 10px);
    }
  }
}

.btn-submit {
  width: 100px;
  height: 45px;
  margin-top: 10px;
  background-color: #2C5173;
  border: solid 2px #2C5173;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-submit:hover {
  background-color: transparent;
  color: #2C5173;
  transition: 0.5s;
}

// Responsive

@media (max-width: 992px) {
  .content-section-wrap {
    width: 100%;
    height: 100%;
  }
  .booking-form {
    width: 100%;
    height: 100%;
    margin: 30px 0 0 0;
  }
}
