
.container {
  width: 95%;
  margin: 80px auto;
  padding: 0;
}

.listing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  .listing-card {
    background-color: white;
    .img-wrap {
      .cafe-img {
        max-width: 100%;
      }
    }
    .content-wrap {
      margin: 20px 10px;
      p, a {
        text-decoration: none;
        color: black;
        margin: 0;
        font-size: 12px;
      }
      a:hover{
        color: #f7616b;
      }
      .listing-name {
        font-weight: bold;
      }
      .bottom-row {
        display: flex;
        justify-content: space-between;
        .listing-price {
          font-weight: bold;
        }
      }
    }
  }
}
