.nav-form form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .listing_address {
    align-self: center;
    margin: 0 !important;

    label {
      display: none;
    }

    input {
      height: 45px;
      padding-left: 4px;
      margin-left: 2px;
      border-radius: 5px;
    }
    .mapboxgl-ctrl-geocoder {
      width: 400px;
      svg {
        top: 12px;
      }
      input {
        padding-left: 35px;
      }
    }
  }
}

.banner-form form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .listing_address {
    align-self: center;
    margin: 0 !important;

    label {
      display: none;
    }

    input {
      height: 45px;
      padding-left: 4px;
      margin-left: 2px;
      border-radius: 5px;
    }
    .mapboxgl-ctrl-geocoder {
      width: 500px;
      svg {
        top: 12px;
      }
      input {
        padding-left: 35px;
      }
    }
  }
}
